.wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #ffffff;
    z-index: 10000;

    transition: all 0.3s;
}

.wrapper .loader {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.wrapper .loader .loader-logo {
    content: url("logo.png");
}

@media (min-width: 576px) {
    .wrapper .loader .loader-logo {
        height: 100px;
    }
}

@media (max-width: 575.98px) {
    .wrapper .loader .loader-logo {
        height: 75px;
    }
}
